#main-assess.main-assess {
  display: grid;
  grid-template-columns: 10% 88%;
  gap: 10px;
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
      0,
      0,
      0,
      0.6
    ); /* Transparent black background with 50% opacity */
    /* Apply blur effect to the background */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #page.page {
    border-radius: 0px 0px 12px 12px;
    background: #fff;
    padding: 0 10px 30px 10px;
    width: 100%;  
    // display: flex;
    // flex-direction: column;
    // gap: 24px;
    // align-self: stretch;
    // width: 90%;
    #assessment.assessment {
      height: calc(100vh - 120px);
      .tag-heading {
        color: var(--text-100, #1c4980);
        font-feature-settings: "clig" off, "liga" off;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 25.2px */
        margin-bottom: 10px;
        margin-top: 10px;
      }
      .top {
        .top-data {
          display: flex;
          width: 1224px;
          align-items: flex-start;
          gap: 1px;
          border-radius: 12px;
          border: 1px solid var(--system-stroke-2, #dadce0);
          .vector360 {
            stroke-width: 1px;
            stroke: var(--system-stroke-2, #dadce0);
            background-color: white;
            display: none;
          }

          .top-data-child1 {
            display: flex;
            width: 162px;
            padding: 16px 20px;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            flex-shrink: 0;
            align-self: stretch;
            background: var(--text-white, #fff);
            .label {
              color: var(--text-100, #1c4980);
              font-feature-settings: "clig" off, "liga" off;
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 140%; /* 19.6px */
            }
            .child {
              display: flex;
              align-items: center;
              gap: 10px;

              .child-candid {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1px;
                .child-candid-data {
                  display: flex;
                  align-items: center;
                  gap: 4px;
                  h2 {
                    color: var(--text-100, #1c4980);
                    font-feature-settings: "clig" off, "liga" off;
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 140%; /* 28px */
                  }
                  p {
                    color: var(--status-success, #05c165);
                    font-family: Inter;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%; /* 16.8px */
                  }
                }
                p {
                  color: #1c4980;
                  font-feature-settings: "clig" off, "liga" off;
                  font-family: Inter;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 140%; /* 16.8px */
                }
              }
            }
          }

          .top-data-child2 {
            display: flex;
            padding: 16px 20px;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            flex: 1 0 0;
            align-self: stretch;
            .label {
              color: var(--text-100, #1c4980);
              font-feature-settings: "clig" off, "liga" off;
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 140%; /* 19.6px */
            }
            .child {
              display: flex;
              align-items: center;
              gap: 10px;

              .child-candid {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1px;
                .child-candid-data {
                  display: flex;
                  align-items: center;
                  gap: 4px;
                  h2 {
                    color: var(--text-100, #1c4980);
                    font-feature-settings: "clig" off, "liga" off;
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 140%; /* 28px */
                  }
                  p {
                    color: var(--status-success, #05c165);
                    font-family: Inter;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%; /* 16.8px */
                  }
                }
                p {
                  color: #1c4980;
                  font-feature-settings: "clig" off, "liga" off;
                  font-family: Inter;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 140%; /* 16.8px */
                }
              }
            }
          }
          .top-data-child3 {
            display: flex;
            width: 499px;
            padding: 16px 20px;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            flex-shrink: 0;
            align-self: stretch;
            .label {
              color: var(--text-100, #1c4980);
              font-feature-settings: "clig" off, "liga" off;
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 140%; /* 19.6px */
            }
            .child {
              display: flex;
              align-items: center;
              gap: 10px;

              .child-candid {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1px;
                .child-candid-data {
                  display: flex;
                  align-items: center;
                  gap: 4px;
                  h2 {
                    color: var(--text-100, #1c4980);
                    font-feature-settings: "clig" off, "liga" off;
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 140%; /* 28px */
                  }
                  p {
                    color: var(--status-success, #05c165);
                    font-family: Inter;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%; /* 16.8px */
                  }
                }
                p {
                  color: #1c4980;
                  font-feature-settings: "clig" off, "liga" off;
                  font-family: Inter;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 140%; /* 16.8px */
                }
              }
            }
          }
          .top-data-child4 {
            display: flex;
            width: 188px;
            padding: 16px 50px 16px 20px;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            flex-shrink: 0;
            align-self: stretch;
            .label {
              color: var(--text-100, #1c4980);
              font-feature-settings: "clig" off, "liga" off;
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 600;
              line-height: 140%; /* 19.6px */
            }
            .child {
              display: flex;
              align-items: center;
              gap: 10px;

              .child-candid {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1px;
                .child-candid-data {
                  display: flex;
                  align-items: center;
                  gap: 4px;
                  h2 {
                    color: var(--text-100, #1c4980);
                    font-feature-settings: "clig" off, "liga" off;
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 140%; /* 28px */
                  }
                  p {
                    color: var(--status-success, #05c165);
                    font-family: Inter;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%; /* 16.8px */
                  }
                }
                p {
                  color: #1c4980;
                  font-feature-settings: "clig" off, "liga" off;
                  font-family: Inter;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 140%; /* 16.8px */
                }
              }
            }
          }
        }
      }
      .section-top {
        display: flex;
        justify-content: space-between !important;
        align-items: center;
        .for-mobile {
          display: flex;
          align-items: flex-start;
          gap: 4px;
          display: none;
        }
      }
      .section {
        display: flex;
        width: 1224px;
        align-items: flex-start;
        gap: 30px;
        .section-child {
          display: flex;
          padding: 30px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 12px;
          flex: 1 0 0;
          align-self: stretch;
          border-radius: 12px;
          border: 1px dashed var(--system-stroke-2, #dadce0);
          background: var(--system-background, #f6f8fa);
          .add {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            .add-div {
              display: flex;
              width: 70px;
              height: 70px;
              padding: 10px;
              justify-content: center;
              align-items: center;
              gap: 10px;
              border-radius: 72px;
              background: #fff;
            }
          }
          h2 {
            color: var(--text-100, #1c4980);
            text-align: center;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          p {
            color: var(--text-100, #1c4980);
            text-align: center;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
        .data-child {
          display: flex;
          padding: 16px;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          flex: 1 0 0;
          align-self: stretch;
          border-radius: 12px;
          border: 1px solid var(--system-stroke-2, #dadce0);
          background: var(--text-white, #fff);
          .data-child-top {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            align-self: stretch;
            .top-left {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              gap: 10px;
              .job-line {
                display: flex;
                align-items: center;
                gap: 10px;
                h2 {
                  color: var(--text-100, #1c4980);
                  font-feature-settings: "clig" off, "liga" off;
                  font-family: Inter;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 140%; /* 19.6px */
                }
              }
            }
            .top-right {
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              align-self: stretch;
            }
          }
          .data-child-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
            .data-child-bottom-child {
              display: flex;
              align-items: flex-start;
              gap: 14px;
              .duration {
                color: var(--text-100, #1c4980);
                font-feature-settings: "clig" off, "liga" off;
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%; /* 16.8px */
              }
              p {
                color: var(--text-100, #1c4980);
                font-feature-settings: "clig" off, "liga" off;
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%; /* 19.6px */
              }
              .attach {
                display: flex;
                height: 30px;
                padding: 2px 8px 2px 6px;
                justify-content: center;
                align-items: center;
                gap: 4px;
                border-radius: 50px;
                border: 1px solid var(--text-100, #1c4980);
                background: var(--text-white, #fff);
                .share {
                  color: #1c4980;
                  font-feature-settings: "clig" off, "liga" off;
                  font-family: Inter;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 140%; /* 19.6px */
                }
              }
              .user-ico-div {
                display: flex;
                align-items: center;
                gap: 4px;
                margin-left: 10px;
                .user-ico-a {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 10%;
                  h2 {
                    color: #fff;
                    text-align: center;
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                  }
                  .user-ico-nested {
                    display: flex;
                    width: 30px;
                    height: 30px;
                    padding: 5px 6px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;
                    gap: 10px;
                    border-radius: 32.728px;
                    border: 1px solid var(--text-white, #fff);
                    background: var(--pastel-neon-blue, #6548ee);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 601px) {
  #main-assess.main-assess {
    grid-template-columns:100%;
    #page.page {
      width: max-content;
      #assessment.assessment {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        .top {
          display: block;
          background-color: white;
          .top-data {
            display: flex;
            width: 345px;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            .vector360 {
              stroke-width: 1px;
              stroke: var(--system-stroke-2, #dadce0);
              background-color: white;
              display: block;
            }
  
            .vectornone {
              display: none;
            }
            .top-data-child1 {
              display: flex;
              padding: 10px 14px;
              flex-direction: column;
              align-items: flex-start;
              gap: 10px;
              flex: 1 0 0;
              background: #fff;
            }
            .top-data-child2 {
              display: flex;
              padding: 10px 14px;
              flex-direction: column;
              align-items: flex-start;
              gap: 10px;
              flex: 1 0 0;
              background: #fff;
            }

            .top-data-child3 {
              display: flex;
              padding: 10px 14px;
              flex-direction: column;
              align-items: flex-start;
              gap: 10px;
              align-self: stretch;
              background: #fff;
              width: 100%;
            }
            .top-data-child4 {
              display: flex;
              padding: 10px 14px;
              flex-direction: column;
              align-items: flex-start;
              gap: 10px;
              align-self: stretch;
              background: #fff;
              width: 100%;
            }
          }
        }
        .section {
          // display: none;
          display: flex;
          width: 375px;
          padding: 20px 15px;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
        }
        .section-top {
          display: flex;
          width: 345px;
          justify-content: space-between;
          align-items: center;
          .for-mobile {
            display: block;
            align-items: center;
          }
        }
      }
    }
  }
} ;
